<!DOCTYPE html>
<html lang="en">
<head>
	<title>UI</title>
	<link href="/css/main.css" rel="stylesheet" type="text/css">
	<link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
	<script src="/lib/jquery/jquery-1.9.0.min.js"></script>
	<script src="/lib/bootstrap/js/bootstrap.min.js"></script>		
</head>
<body id="challenge-content">
	<p>
		Could be that this one is an easy win for you, who knows how you passed the previous challenges?
	</p>
	<p class="lead">
		Make the result of the decomposition to be displayed in the same page.
	</p>

	<p>Having your form available at </p>

	<pre>http://your-server/primerFactors/ui</pre>

	<p>When a user ask for a decomposition</p>

	<pre>Then the location of your browser stays at http://your-server/primerFactors/ui,
and the result is displayed in the element #result
</pre>
	
	<legend>
		<h2>Take it!</h2>
	</legend>
		
	<section>
		<p>
			Your form will be submited with a number
		</p>	

	</section>
</body>
</html>