@-webkit-keyframes horizontal-loop
{
	from {-webkit-transform:scaleX(1.0);}
	to {-webkit-transform:scaleX(-1.0);}
}


.rotate {
	-webkit-animation:horizontal-loop 1s linear infinite alternate; 
}

.fond {
	background-color: #DAF5D7;
	margin-top:5px;
	margin-left:5px;
}

.title {
	padding: 0px 0px 20px 0px;
	text-align: center;
	font-weight:bold;
}

.center {
	text-align: center;
}

.indent {
	padding-left: 20px;
	padding-right: 20px;
}

.success {
	color: green;
}

.error {
	color: red;
}

.hidden {
	display: none;
}

.visible {
	display: block;
}

.centered-form {
	margin: 50px 0px 0px 200px;
	padding:20px 20px 20px 20px;
	width:400px;
	background-color:#fff;
	border-radius: 5px
}

#next-challenge-title {
	color: red;
}

#achievements {
	color: green;
	border:1px solid green;
	border-radius:5px;
	padding-left:5px;
}

#sidebar {
	background-image:url('');
	width:70px;
	position:fixed;
	padding-left:5px;
	padding-right:5px;
	padding-top:5px;
	height:98%;
	border:1px solid green;
	border-radius:5px;
	
	text-align:center;
}

#avatar {
	
}

#content {
	margin-left: 80px;
	margin-right: 10px;
}

.header {
	background-color: #eeeeee;
	border:1px solid green;
	border-radius:5px;
}
