@-webkit-keyframes horizontal-loop
{
	from {-webkit-transform:scaleX(1.0);}
	to {-webkit-transform:scaleX(-1.0);}
}

.rotate {
	-webkit-animation:horizontal-loop 1s linear infinite alternate; 
}

.fond {
	margin-left:5px;
	margin-top:5px;
	margin-right:5px;
}

#sidebar {
	width:100%;
	padding:5px;
	height:70px;

	background-color: #DAF5D7;
	border-radius:5px;
}

#avatar {
	float:left;
}

#sidebar-info {
	margin-left:75px;
}

#progress {
	padding-left:0px;
}

#level {
	float:left;
	margin:0;
}

#achievements {
	color:green;
}

#server-of-player {
}

#content {
	padding-left:80px;
}

.title {
	padding: 0px 0px 20px 0px;
	text-align: center;
	font-weight:bold;
}

.center {
	text-align: center;
}

.indent {
	padding-left: 20px;
	padding-right: 20px;
}

.success {
	color: green;
}

.error {
	color: red;
}

.hidden {
	display: none;
}

.visible {
	display: block;
}

.centered-form {
	margin: 50px 0px 0px 200px;
	padding:20px 20px 20px 20px;
	width:400px;
	background-color:#fff;
	border-radius: 5px
}

#next-challenge-title {
	color: red;
}

.header {
	background-color: #eeeeee;
	border:1px solid green;
	border-radius:5px;
}
