@-webkit-keyframes horizontal-loop
{
	from {-webkit-transform:scaleX(1.0);}
	to {-webkit-transform:scaleX(-1.0);}
}


.rotate {
	-webkit-animation:horizontal-loop 1s linear infinite alternate; 
}

.fond {
	background-color: #B0DBAB;
}

.title {
	padding: 0px 0px 20px 0px;
	text-align: center;
	font-weight:bold;
}

.center {
	text-align: center;
}

.indent {
	padding-left: 20px;
	padding-right: 20px;
}

.success {
	color: green;
}

.error {
	color: red;
}

.hidden {
	display: none;
}

.visible {
	display: block;
}

.centered-form {
	margin: 50px 0px 0px 200px;
	padding:20px 20px 20px 20px;
	width:400px;
	background-color:#fff;
	border-radius: 5px
}

#next-challenge-title {
	color: red;
}

#achievements {
	color: green;
}

#sidebar {
	width:60px;
	position:fixed;
	padding-left:10px;
}

#content {
	margin-left: 80px;
	margin-right: 10px;
}

